WebContent/WEB-INF/wsdl/Core.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertDocument">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Area" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="DocumentType" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="DocumentContent" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ConvertDocumentResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertSignDocument">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Area" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="DocumentType" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="DocumentContent" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertSignDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ConvertSignDocumentResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCAF">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Area" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="CAF" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCAFResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="AddCAFResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCAF">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Area" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCAFResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RemoveCAFResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArchiveCAF">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Area" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="FileName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArchiveCAFResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ArchiveCAFResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertDocumentSoapIn">
    <wsdl:part element="tns:ConvertDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConvertDocumentSoapOut">
    <wsdl:part element="tns:ConvertDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConvertSignDocumentSoapIn">
    <wsdl:part element="tns:ConvertSignDocument" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConvertSignDocumentSoapOut">
    <wsdl:part element="tns:ConvertSignDocumentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddCAFSoapIn">
    <wsdl:part element="tns:AddCAF" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddCAFSoapOut">
    <wsdl:part element="tns:AddCAFResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RemoveCAFSoapIn">
    <wsdl:part element="tns:RemoveCAF" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RemoveCAFSoapOut">
    <wsdl:part element="tns:RemoveCAFResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ArchiveCAFSoapIn">
    <wsdl:part element="tns:ArchiveCAF" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ArchiveCAFSoapOut">
    <wsdl:part element="tns:ArchiveCAFResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CoreSoap">
    <wsdl:operation name="ConvertDocument">
      <wsdl:input message="tns:ConvertDocumentSoapIn"/>
      <wsdl:output message="tns:ConvertDocumentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ConvertSignDocument">
      <wsdl:input message="tns:ConvertSignDocumentSoapIn"/>
      <wsdl:output message="tns:ConvertSignDocumentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddCAF">
      <wsdl:input message="tns:AddCAFSoapIn"/>
      <wsdl:output message="tns:AddCAFSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RemoveCAF">
      <wsdl:input message="tns:RemoveCAFSoapIn"/>
      <wsdl:output message="tns:RemoveCAFSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ArchiveCAF">
      <wsdl:input message="tns:ArchiveCAFSoapIn"/>
      <wsdl:output message="tns:ArchiveCAFSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoreSoap" type="tns:CoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConvertDocument">
      <soap:operation soapAction="http://tempuri.org/ConvertDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSignDocument">
      <soap:operation soapAction="http://tempuri.org/ConvertSignDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCAF">
      <soap:operation soapAction="http://tempuri.org/AddCAF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCAF">
      <soap:operation soapAction="http://tempuri.org/RemoveCAF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveCAF">
      <soap:operation soapAction="http://tempuri.org/ArchiveCAF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreSoap12" type="tns:CoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConvertDocument">
      <soap12:operation soapAction="http://tempuri.org/ConvertDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertSignDocument">
      <soap12:operation soapAction="http://tempuri.org/ConvertSignDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCAF">
      <soap12:operation soapAction="http://tempuri.org/AddCAF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCAF">
      <soap12:operation soapAction="http://tempuri.org/RemoveCAF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveCAF">
      <soap12:operation soapAction="http://tempuri.org/ArchiveCAF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core">
    <wsdl:port binding="tns:CoreSoap" name="CoreSoap">
    <!--  <soap:address location="http://10.216.4.24/Signature.xDocCL.Web.Services/core.asmx"/> --> 
		<soap:address location="http://10.216.4.16/Signature.xDocCL.Web.Services/core.asmx"/> 
    </wsdl:port>
    <wsdl:port binding="tns:CoreSoap12" name="CoreSoap12">
    <!--  <soap12:address location="http://10.216.4.24/Signature.xDocCL.Web.Services/core.asmx"/> -->
      <soap12:address location="http://10.216.4.16/Signature.xDocCL.Web.Services/core.asmx"/> 
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>